sgr.css
* {
	box-sizing: border-box;
}
body{ margin:0;
       }
input{
	font-size: 6vw;
}

.header {
	background-image: url(cavern.jpg);
	text-align: center;
	margin:0;
	padding: 2vw;	
}
.header h1 {
	margin:0;
	background-color: #333;
	color: white;
}
h2 {
	margin: 0;
	padding: 2vw;
	font-size: 6vw;
	text-align: center;
}
.nav {
	position: relative;
	height: 20vw;
	border-bottom: 2px solid #333;
}
.reviewdrop {
	width:24.9%;
	height:auto;
	float: left;
}
.drop1 {
	padding-top: 2vw;
}
div.droplist {
	position: absolute;
    opacity: 0;
    -webkit-transition:1s;
	transition : 1s;
	visibility: hidden;
	background-color: #333;
	color: white;
	width: 80%;
	left: 10%;
	top: 15vw;
	border-radius: 5vw;
	text-align: center;   	
}
div.dropitem {
	padding: 3vw 0;
	border-bottom: 1px solid white;
}
div.droplist:last-child {
	border: none;
}
div.closebutton {
	top: 1vw;
	right: 1vw;
	width: 15vw;
	position: absolute;
	
}
div.closebutton img {
	background-color: #333;
	border-radius: 50%;
}
div.closebutton2 {
	float: right;
	width: 15vw;
	;
	
}
div#closebutton2 img {
	background-color: #333;
	border-radius: 50%;
}
div#closebutton3 {
	float: right;
	width: 15vw;
	
}
div.closebutton3 img {
	background-color: #333;
	border-radius: 50%;
}
div#frame1 {
	width: 100vw;
	height: 0;
    margin: auto;	
}
iframe {
	border: 0;
}
#boardtext {
	font-size: 4vw;
	margin-top: 0;
	padding: 0 6vw;
}
div.window {
	width: 31.5vw;
	margin: 0 .5vw .5vw .5vw;
	border: .2vw solid lightgrey;
	float: left;
	text-align: center;
	background-image: url(cavern.jpg);
}
div.innerwindow {
	margin: 2vw;
	background-color: #333;
	color : white;
}
div#streamer {
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
#displayvolcal {
	height: 0;
	overflow: hidden;
	text-align: center;
}
#displaybfinder {
	height: 0;
	overflow: hidden;
	text-align: center;
}
#displaycbvolume {
	height: 0;
	overflow: hidden;
	text-align: center;
}
.button {
	padding:2vw 4vw;
	margin: 1vw;
	background-color: black;
	color: white;
	border-radius: 5vw;
}
