sgr.css
* {
	box-sizing: border-box;
}
body{ margin:0;
       }

.header {
	background-image: url(cavern.jpg);
	text-align: center;
	margin:0;
	padding: 2vw;
}
.header h1 {
	margin:0;
	background-color: #333;
	color: white;
}
.nav {
	position: relative;
}
.reviewdrop {
	width:24.9%;
	height:auto;
	float: left;
}
.drop1 {
	padding-top: 2vw;
}
div.droplist {
	position: absolute;
    opacity: 0;
    -webkit-transition:1s;
	transition : 1s;
	visibility: hidden;
	background-color: #333;
	color: white;
	width: 80%;
	left: 10%;
	top: 15vw;
	border-radius: 5vw;
	text-align: center;   	
}
div.dropitem {
	padding: 3vw 0;
	border-bottom: 1px solid white;
}
div.droplist:last-child {
	border: none;
}
div.closebutton {
	position: absolute;
	right: -18vw;
	top: 1vw;
}
div.closebutton img {
	background-color: #333;
	border-radius: 50%;
}
div#frame1 {
	width: 100vw;
	height: 0;
	margin: auto;

}
#boardtext {
	margin-top: 25vw;
}
div.window {
	width: 31.5vw;
	height: 17vw;
	margin: 0 .5vw .5vw .5vw;
	border: .2vw solid lightgrey;
	float: left;
	text-align: center;
	background-image: url(cavern.jpg);
}
div.innerwindow {
	margin: 2vw;
	background-color: #333;
	color : white;
}
div#streamer {
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}